{% load static %}
<section class="header">
    <div class="banner">
        <div class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner0.webp' %}">
                                <img src="{% static 'img/banners/banner0.webp' %}">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner1.webp' %}">
                                <img src="{% static 'img/banners/banner1.webp' %}">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner2.webp' %}">
                                <img src="{% static 'img/banners/banner2.webp' %}">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner3.webp' %}">
                                <img src="{% static 'img/banners/banner3.webp' %}">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner4.webp' %}">
                                <img src="{% static 'img/banners/banner4.webp' %}">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner5.webp' %}">
                                <img src="{% static 'img/banners/banner5.webp' %}">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item active center" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner6.webp' %}">
                                <img src="{% static 'img/banners/banner6.webp' %}">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner7.png' %}">
                                <img src="{% static 'img/banners/banner7.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner8.jpg' %}">
                                <img src="{% static 'img/banners/banner8.jpg' %}">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 649.333px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="{% static 'img/banners/banner9.jpg' %}">
                                <img src="{% static 'img/banners/banner9.jpg' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav disabled">
                <button type="button" role="presentation" class="owl-prev">
                    <span aria-label="Previous">‹</span></button><button type="button" role="presentation"
                    class="owl-next"><span aria-label="Next">›</span></button>
            </div>
            <div class="owl-dots"></div>
        </div>
    </div>
    <img src="{% static 'img/banners/blackFriday.gif' %}" alt="" style="width: 100%;">
    <br>
    <div class="companyMenu group flexContain">
        
    </div>
</section>