<section class = "header">
    <div class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Dịch vụ khách hàng</h3>
                <a href="{% url 'return_policy' %}">Chính sách đổi trả</a>
                <a href="{% url 'shipping_infor' %}">Thông tin vận chuyển</a>
                <a href="{% url 'cart' %}">Theo dõi đơn hàng</a>
                <a href="{% url 'faqs' %}">FAQs</a>
            </div>
    
            <div class="box">
                <h3>Quick Links</h3>
                <a href="{% url 'home' %}">Trang chủ</a>
                <a href="{% url 'about_us' %}">Về chúng tôi</a>
                <a href="{% url 'contact' %}">Liên hệ</a>
            </div>
            <div class="box">
                <h3>Thông tin liên hệ</h3>
                <a><i class="fas fa-phone"></i>0377-289-656</a>
                <a><i class="fas fa-envelope"></i>nnt33@gmail.com</a>
                <a>hanoi, vietnam</a>
            </div>
    
            <div class="box">
                <h3>Nền tảng trực tuyến</h3>
                <a href="https://www.facebook.com/misao69" target="_blank" ><i class="fab fa-facebook"></i>Facebook</a>
                <a href="https://twitter.com"><i class="fab fa-twitter" target="_blank"></i>Twitter</a>
                <a href="https://www.instagram.com" target="_blank" ><i class="fab fa-instagram"></i>Instagram</a>
                <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i>Linkedin</a>
            </div>
    
            <div class="box">
                <h3>Chăm sóc khách hàng</h3>
                <a href="/support">Trung tâm trợ giúp</a>
                <a href="#">TickID Mall</a>
                <a href="/shopping_guide">Hướng dẫn mua sắm</a>
            </div>
        </div>
    </div>
</section>
<div class="credit"> copyright @ 2023 by <span> Chuyên đề thực tế 2</span></div>