<!-- kế thừ html layout -->
{% extends "layout.html" %}
<!-- thay đổi title -->
{% block title %}
Thế giới điện thoại
{% endblock %}
<!-- nội dung trong thẻ body -->
{% block content %}
<!-- thêm topnav -->
{% include 'top_nav.html' %}
<!-- thêm header -->
{% include 'header.html' %}
<!-- thêm banner -->
{% include 'banner.html' %}
<!-- thêm filter -->
{% include 'filter.html' %}
<!-- thêm contain product -->
<script>
   //lấy dữ liệu brand
   fetch('/api/brands/')
      .then(response => response.json())
      .then(data => {
         var companyMenu = document.querySelector('.companyMenu');
         data.forEach(function (brand) {
            let img = document.createElement('img');
            img.src = brand.image_url;
            img.alt = brand.name; // thêm tên ảnh vào thuộc tính alt
            img.title = brand.name; // thêm tên ảnh vào thuộc tính title
            companyMenu.appendChild(img);
            // thêm sự kiện click vào thẻ img
            img.addEventListener('click', function () {
               // Gọi hàm với tham số là api/search/?keyword= cộng với tên thương hiệu
               displayProducts(brand.name);
            });
         });
      })
      .catch(error => console.error('Error:', error));
</script>
{% include 'contain_product.html' %}
<!-- thêm footer -->
{% include 'footer.html' %}
{% endblock %}