<!-- kế thừ html layout -->
{% extends "layout.html" %}
<!-- thay đổi title -->
{% block title %}
Tìm kiếm sản phẩm
{% endblock %}
<!-- nội dung trong thẻ body -->
{% block content %}
<!-- thêm topnav -->
 {% include 'top_nav.html' %}
    <!-- thêm header -->
 {% include 'header.html' %}
    <!-- thêm filter -->
 {% include 'filter.html' %}

<section class = "header">
   <h2> Tất cả sản phẩm</h2>
   <ul id="products" class="homeproduct group flexContain">
     <button id="loadMore" class="xemTatCa" href="/?star=3&amp;sort=rateCount-decrease" style="	border-left: 2px solid #ff9c00;
                          border-right: 2px solid #ff9c00;">
              Xem thêm
          </button>
  </ul><!-- End products -->
  <script>
      var params = new URLSearchParams(window.location.search);
      var keyword = params.get('keyword');
  
      // Gọi hàm displayProducts với keyword là đối số
      displayProducts(keyword);
  </script>
</section>
<!-- thêm footer -->
 {% include 'footer.html' %}
{% endblock %}