<div class="top-nav group">
    <section>
        <div class="social-top-nav">
            <a class="fab fa-facebook-f" target="_blank" href="https://facebook.com"></a>
            <a class="fab fa-google" target="_blank" href="https://google.com"></a>
            <a class="fab fa-youtube" target="_blank" href="https://youtube.com"></a>
        </div> <!-- End Social Topnav -->
        <ul class="top-nav-quicklink flexContain">
            <li><a href="/">
                    <i class="fas fa-home"></i> Trang chủ</a></li>
            <li><a href="{% url 'about_us' %}">
                    <i class="fas fa-info-circle"></i> Giới thiệu</a></li>
            <li><a href="{% url 'warranty' %}">
                    <i class="fas fa-wrench"></i> Bảo hành</a></li>
            <li><a href="{% url 'contact' %}">
                    <i class="fas fa-phone"></i> Liên hệ</a></li>
        </ul> <!-- End Quick link -->
    </section><!-- End Section -->
</div> <!-- End Top Nav -->